.header__overlay {
  z-index: 2000;
  animation: fade-out 2000ms ease-in forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

// Radial gradient animation ///////////////////

.header__background {
  background: radial-gradient(
    ellipse,
    $bg-fx-color-1,
    $bg-fx-color-2,
    $bg-fx-color-3 80%
  );
  background-size: 1000% 1000%;
  animation: gradient 60s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  20% {
    background-position: 45% 50%;
  }

  40% {
    background-position: 50% 75%;
  }

  60% {
    background-position: 100% 0%;
  }

  80% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}
