.header--overlay {
  animation: fade-out 5000ms forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.slogan__text,
.bi-chevron-compact-down {
  font-size: 3rem;

  @media screen and (min-width: $md) {
    font-size: 4rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 4.5rem;
  }
}

.header--background {
  background: radial-gradient(
    ellipse,
    $bg-fx-color-1,
    $bg-fx-color-2,
    $bg-fx-color-3,
    $bg-fx-color-4
  );
  background-size: 2000% 2000%;
  animation: gradient 60s ease infinite;
}

.header-links {
  height: 50px;
  width: 50px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}
