// Navbar transparency and responsive styling //////////

.nav-custom {
  background-color: #000000cc;
  font-size: 1.2rem;
  z-index: 1000;
  transition: background-color 300ms ease-in;

  @media screen and (min-width: $lg) {
    background-color: #00000000;

    &.nav--opacity {
      background-color: #000000bf;
    }
  }

  .navbar-toggler {
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .react-brackets {
    display: flex;

    @media screen and (min-width: $lg) {
      display: none;
    }
  }
}
