.nav--custom {
    background-color: lightgrey;
    color: lightgrey;
    font-size: 1.2rem;
    z-index: 10000;

    @media screen and (min-width: $md) {
        background-color: #85858580;
        color: #363636;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}