// Color themes ///////////////////////////////

// Light Theme Map
$light-theme-txt: (
  'txt-light': #fff8e4,
  'txt-dark': #222222,
);

$light-theme-bg: (
  'bg-about': #fffaef,
  'bg-projects': #ffffff,
  'bg-project-card': #ffffff,
  'bg-stack': #fffaef,
  'bg-footer': #003d3f,
  'bg-contact': #fffaef,
  'bg-404': #fffaef,
  'frontend-tag': rgba(224, 128, 39, 0.8),
  'backend-tag': rgba(15, 145, 106, 0.8),
  'fullstack-tag': rgba(141, 28, 85, 0.8),
);

$light-theme-bg-fx: (
  'bg-fx-color-1': #c90075,
  'bg-fx-color-2': #08815d,
  'bg-fx-color-3': #c24700,
);

// Dark Theme Map
$dark-theme-txt: (
  'txt-light': #fff8e4,
  'txt-dark': #222222,
);

$dark-theme-bg: (
  'bg-about': #0b1220,
  'bg-projects': #0a0f18,
  'bg-project-card': #0b0124,
  'bg-stack': #0b1220,
  'bg-footer': #000510,
  'bg-contact': #1a2130,
  'bg-404': #0b1220,
  'frontend-tag': rgba(224, 128, 39, 0.7),
  'backend-tag': rgba(15, 145, 106, 0.7),
  'fullstack-tag': rgba(141, 28, 85, 0.7),
);

$dark-theme-bg-fx: (
  'bg-fx-color-1': #4d0026,
  'bg-fx-color-2': #002427,
  'bg-fx-color-3': #1d0038,
);

// Theme classes definitions //////////////////////////////

@each $color, $value in $light-theme-txt {
  .theme-L-#{$color} {
    color: $value !important;
  }
}

@each $color, $value in $light-theme-bg {
  .theme-L-#{$color} {
    background-color: $value !important;
  }
}

@each $color, $value in $dark-theme-txt {
  .theme-D-#{$color} {
    color: $value !important;
  }
}

@each $color, $value in $dark-theme-bg {
  .theme-D-#{$color} {
    background-color: $value !important;
  }
}