// Header background effect colors /////////

$bg-fx-color-1: #08815d;
$bg-fx-color-2: #102e2b;
$bg-fx-color-3: #c24700;
$bg-fx-color-4: #4b0247;


// Background colors ///////////////////////

.bg-cream {
  background-color: #fdf4ed;
}


.nav-link,
nav span {
  color: #ffffff;

  &:hover {
    color: #08815d;
  }
}

