$primary: #066458;
$secondary: #33c1ff;
$success: #4caf50;
$danger: #f44336;
$warning: #ff9800;
$info: #2196f3;
$light: #eeeeee;
$dark: #000000;


// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';

@import '~bootstrap/scss/bootstrap';

