.screen-size-warning {
  display: block;

  @media screen and (min-width: $min-width-warning) {
    display: none;
  }
}

.hover--highlight {
  @media screen and (min-width: $lg) {
    &:hover {
      font-weight: bold;
      color: $primary !important;
    }
  }
}

.hover--zoom {
  transition: transform 200ms;

  @media screen and (min-width: $lg) {
    &:hover {
      transform: scale(1.05);
    }
  }
}
