@import url('https://fonts.googleapis.com/css2?family=Bangers');

.font-large {
  font-size: 2rem;

  @media screen and (min-width: $md) {
    font-size: 3rem;
  }

  @media screen and (min-width: $lg) {
    font-size: 3.5rem;
  }
}

.font-huge {
  font-size: 2.5rem;

  @media screen and (min-width: $md) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: $lg) {
    font-size: 4rem;
  }

  @media screen and (min-width: $xl) {
    font-size: 4.5rem;
  }
}

.font-error {
  font-family: 'Bangers', serif;

  h1 {
    font-size: 8rem;

    h2 {
      font-size: 2rem;
      transform: translateY(-30px);

      @media screen and (min-width: $md) {
        font-size: 3rem;
      }

      @media screen and (min-width: $lg) {
        font-size: 3.2rem;
      }

      @media screen and (min-width: $xl) {
        font-size: 3.4rem;
      }
    }

    @media screen and (min-width: $md) {
      font-size: 10rem;
    }

    @media screen and (min-width: $lg) {
      font-size: 12rem;
    }

    @media screen and (min-width: $xl) {
      font-size: 14rem;
    }
  }

  h2 {
    font-size: 2rem;
    transform: translateY(-30px);

    @media screen and (min-width: $md) {
      font-size: 3rem;
    }

    @media screen and (min-width: $lg) {
      font-size: 3.2rem;
    }

    @media screen and (min-width: $xl) {
      font-size: 3.4rem;
    }
  }

  @media screen and (min-width: $xl) {
    font-size: 14rem;
  }
}

a {
  text-decoration: none;
}