@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Rubik+Dirt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rubik+Burned&family=Rubik+Dirt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Frijole&family=Rubik+Burned&family=Rubik+Dirt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredericka+the+Great&family=Frijole&family=Rubik+Burned&family=Rubik+Dirt&display=swap');

.font-large {
  font-size: 2rem;

  @media screen and (min-width: $md) {
    font-size: 3rem;
  }

  @media screen and (min-width: $lg) {
    font-size: 3.5rem;
  }
}

.font-huge {
  font-size: 2.5rem;

  @media screen and (min-width: $md) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: $lg) {
    font-size: 4rem;
  }

  @media screen and (min-width: $xl) {
    font-size: 4.5rem;
  }
}

.font-404 {
  font-family: "Bangers", serif;
  font-size: 6rem;

  @media screen and (min-width: $md) {
    font-size: 8rem;
  }

<<<<<<< HEAD
  @media screen and (min-width: $lg) {
    font-size: 10rem;
=======
  h2 {
    font-size: 2rem;
    transform: translateY(-30px);

    @media screen and (min-width: $md) {
      font-size: 3rem;
    }

    @media screen and (min-width: $lg) {
      font-size: 3.2rem;
    }

    @media screen and (min-width: $xl) {
      font-size: 3.4rem;
    }
>>>>>>> a5b8fd1 (Fixed_typography.scss)
  }

  @media screen and (min-width: $xl) {
    font-size: 12rem;
  }
}

a {
  text-decoration: none;
}
