// Glint effect ////////////////////////

.glint-effect {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -100%;
    width: 150%;
    height: 35%;
    background: #ffffffb3;
    transform: rotate(45deg);
    pointer-events: none;
  }

  &:hover::before {
    animation: glint-effect 8s infinite;
  }
}

@keyframes glint-effect {
  0% {
    top: 100%;
    left: -100%;
  }

  10%,
  100% {
    top: -100%;
    left: 100%;
  }
}

// Separation line ///////////////////////

.h-line-50 {
  border-top: 3px solid lightgrey;
  width: 50vw;
  height: 0;
}

// Hover effects ////////////////////////

.hover--highlight {
  @media screen and (min-width: $lg) {
    &:hover {
      font-weight: bold;
      color: $primary !important;
    }
  }
}

.hover--zoom {
  transition: transform 200ms;

  @media screen and (min-width: $lg) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.hover--lift {
  transition: transform 200ms;

  @media screen and (min-width: $lg) {
    &:hover {
      transform: translateY(-3%) scale(1.08);
    }
  }
}

// Glow effects /////////////////////////

.dark-icon-glow {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);

  &:hover {
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
  }
}

// Viewport triggered effects ////////////

.viewport-trigger {
  opacity: 0;
}

@keyframes slide-from-right {
  0% {
    transform: translateX(20vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.viewport-slide-in-from-right {
  animation: slide-from-right 700ms cubic-bezier(0.43, 0.63, 0.42, 1.19)
    forwards;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-20vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.viewport-slide-in-from-left {
  animation: slide-from-left 700ms cubic-bezier(0.43, 0.63, 0.42, 1.19) forwards;
}
