// CSS imports /////////////////////////

@import "./_custom-bootstrap";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");

@import "./_variables";
@import "./_typography";
@import "./_colors";
@import "./_utils";
@import "./_global";

// Components /////////

@import "./components/Header";
@import "./components/Nav";
@import "./components/ProjectCard";
